.widget {
  box-shadow: 8px 8px 24px 4px rgba(34, 60, 80, 0.2);
}

.mainBlock {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.place,
.weatherIcon,
.currentWeather {
  width: 200px;
}

.place,
.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.cityName,
.countryName,
.currentTemperature,
.currentInfo {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.cityName,
.currentTemperature {
  font-weight: 600;
}

.cityName {
  font-size: 32px;
}

.countryName,
.currentInfo {
  font-size: 24px;
}

.countryName {
  line-height: 28px;
}

.currentTemperature {
  font-size: 40px;
}

.extraBlock {
  display: flex;
  justify-content: space-evenly;
}

.dailyWeather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.left {
  margin-right: 5px;
}

.temperatureMax {
  color: #ec6c4c;
}

.temperatureMin {
  color: #2596be
}
